﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.RegularExpressions;

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string titleString;
    if (Context.Request.QueryString.ToString().Contains("fanficid"))
    {
        titleString = "EditFanfic";
    }
    else
    {
        titleString = "BuilderTitle";
    }
    ViewData["Title"] = @Localizer[titleString];
}

<div class="contentOther">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 fanficBlock">

        @* TITLE *@
        <div class="col-xs-12 margin-block-builder text-center">
            <h3>@Localizer[titleString]</h3>
        </div>

        <div class="col-sm-6">
            @* CATEGORY *@
            <div class="col-xs-12 margin-block-builder">
                <select class="form-control min-border-input categoryBuilder" id="categoryProfile" style="background: white">
                    <option>@Localizer["Category"]</option>
                    <option>@Localizer["Anime"]</option>
                    <option>@Localizer["Books"]</option>
                    <option>@Localizer["Games"]</option>
                    <option>@Localizer["Comics"]</option>
                    <option>@Localizer["Films"]</option>
                    <option>@Localizer["Other"]</option>
                </select>
            </div>

            @* FANFIC'S NAME *@
            <div class="col-xs-12 margin-block-builder">
                <input type="text" class="form-control min-border-input" id="FanficNameInput" placeholder="@Localizer[" NameFanfic"]">
            </div>

            <div class="col-xs-12 margin-block-builder">
                <div class="checkbox">
                    <label>
                        <input id="IsHidden" type="checkbox" value="">@Localizer["Private"]</label>
                </div>
            </div>

            @* FANFIC'S TAGS *@
            <div class="col-xs-12 margin-block-builder">
                <input name="tags" id="tags" class="form-control min-border-input" placeholder="@Localizer["Tags"]">
            </div>

        </div>
        <div class="col-sm-6">

            @* DOWNLOAD COVER *@
            <div class="col-xs-12 margin-block-builder">
                <a class="CoverFanfic pointer-build">
                    <div class="load-photo-builder deletable">
                        <div class="load-title-div">
                            <h4 class="load-title"><i class="fa fa-picture-o" aria-hidden="true"></i> @Localizer["DownloadCover"]</h4>
                        </div>
                        <img src="http://res.cloudinary.com/fanspen/image/upload/v1519090685/default1.jpg" />
                    </div>
                </a>
            </div>

        </div>

        @* FANFIC'S DESCRIPTION *@
        <div class="col-xs-12">
            <div class="col-xs-12 margin-block-builder description-div">
                <textarea id="DescriptionFanfic" placeholder="@Localizer["Description"]" class="form-control min-border-input" rows="3" maxlength="10"></textarea>
            </div>

            <div class="col-xs-12">
                <hr class="hr-profile"/>
            </div>
            <div id="TopicList">
            </div>

            @* BUTTON NEW TOPIC *@
            <div class="col-xs-12 margin-block-builder">
                <div class="col-xs-12 margin-block-builder text-center">
                    <a id="AddTopic" class="btn btn-block btn-info"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localizer["AddTopic"]</a>
                </div>
                <hr class="hr-profile"/>
                @{
                    if (!Context.Request.QueryString.ToString().Contains("fanficid"))
                    {
                        <div class="col-xs-6 margin-block-builder">
                            <a id="SaveTopic" class="btn btn-block btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Localizer["Create"]</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-6 margin-block-builder">
                            <a id="EditTopic" class="btn btn-block btn-info"><i class="fa fa-floppy-o" aria-hidden="true"></i> @Localizer["SaveChanges"]</a>
                        </div>
                        @await Html.PartialAsync("_EditFanfic");
                    }
                }
                
                <div class="col-xs-6 margin-block-builder">
                    <a id="CancelBuilder" class="btn btn-block btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> @Localizer["Cancel"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Builder")
@await Html.PartialAsync("_UploadPhoto")
