﻿@using Microsoft.AspNetCore.Mvc.Localization
@model ApplicationUserViewModel

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    bool isAdmin = false;
    bool isBan = false;
    ViewData["Title"] = Model.UserName;
    if (UserManager.IsInRoleAsync(UserManager.Users.Where(x => x.Id == Model.Id).FirstOrDefault(), "admin").Result)
    {
        isAdmin = true;
    }
    if (UserManager.IsInRoleAsync(UserManager.Users.Where(x => x.Id == Model.Id).FirstOrDefault(), "ban").Result)
    {
        isBan = true;
    }
}

<div class="contentMain">
    <div class="col-sm-3 fixed-info-profile">
        <div id="mainAvatar">
            <a id="avatarPhoto"><img id="avatarUser" src="@Model.AvatarUrl" /></a>
        </div>
        <h3 class="user-name-profile">
            @Model.UserName
            @if (isAdmin)
            {
                <i style="color:#3498db" title="@Localizer["Admin"]" class="fa fa-check-circle" aria-hidden="true"></i>
            }
            @if (isBan)
            {
                <i style="color:#e74c3c" title="@Localizer["Banned"]" class="fa fa-lock" aria-hidden="true"></i>
            }
        </h3>
        <h5>@Model.Email</h5>
        <h5 title="@Localizer["DateRegistration"]" class="small-text">@Model.RegistrationDate</h5>
        @if (UserManager.GetUserId(User) == Model.Id)
        {
            <a href="/FanficBuilder" id="newFanficButton" class="btn btn-block btn-success">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
                @Localizer["NewFanfic"]
            </a>
        }
        @if (User.IsInRole("admin") && UserManager.GetUserId(User) != Model.Id)
        {
            <a href="/FanficBuilder?userid=@Model.Id" id="newFanficButton" class="btn btn-block btn-success">
                <i class="fa fa-pencil-square-o" aria-hidden="true"> </i>
                @Localizer["NewFanfic"]
            </a>
        }
        <hr class="hr-profile" />
        
        @if (Model.CanSubscribe)
        {
            <a href="/Subscribe?userId=@Model.Id" id="subscribeButton" class="btn btn-block btn-success">
                @Localizer["Subscribe"]
            </a>
        }
        else if (Model.IsSubscribed)
        {
            <strong> @string.Format("{0} ({1})", Localizer["Subscribed"].Value, Model.PaymentStatus) </strong>
        }

        @if (UserManager.GetUserId(User) != Model.Id && User.IsInRole("admin"))
        {
            <div class="col-xs-10 col-xs-offset-1 btn-group adminRulesPanel" role="group">
                <div class="col-xs-4">
                    <form asp-area="" asp-controller="Role" asp-action="SetAdmin" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" asp-route-id="@Model.Id" method="post">
                        @if (isAdmin)
                        {
                            <button title="@Localizer["FromAdmin"]" type="submit" class="btn adminRules">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </button>
                        }
                        else
                        {
                            <button title="@Localizer["ToAdmin"]" type="submit" class="btn adminRules">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        }
                    </form>
                </div>
                <div class="col-xs-4">
                    <form asp-area="" asp-controller="Role" asp-action="SetBan" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" asp-route-id="@Model.Id" method="post">
                        @if (isBan)
                        {
                            <button title="@Localizer["FromBan"]" type="submit" class="btn adminRules">
                                <i class="fa fa-unlock" aria-hidden="true"></i>
                            </button>
                        }
                        else
                        {
                            <button title="@Localizer["ToBan"]" type="submit" class="btn adminRules">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </button>
                        }
                    </form>
                </div>
                @if (UserManager.Users.Where(x => x.Id == Model.Id).FirstOrDefault().UserName != "admin")
                {
                    <div class="col-xs-4">
                        <form asp-area="" asp-controller="Role" asp-action="Delete" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" asp-route-id="@Model.Id" method="post">
                            <button title="@Localizer["Delete"]" type="submit" class="btn adminRules">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="col-xs-4">
                        <form asp-area="" asp-controller="Role" asp-action="Delete" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" asp-route-id="@Model.Id" method="post">
                            <button title="@Localizer["Delete"]" disabled type="submit" class="btn adminRules">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

    </div>
    <div class="col-sm-7 col-sm-offset-3">
        <ul class="nav nav-tabs" id="menuProfile">
            <li class="active">
                <a href="#profileData" data-toggle="tab" aria-expanded="true">
                    @if (UserManager.GetUserId(User) == Model.Id)
                    {
                        @Localizer["MyInfo"]
                    }
                    else
                    {
                        @Localizer["Info"]
                    }
                </a>
            </li>
            <li class="">
                <a href="#fanficsData" data-toggle="tab" aria-expanded="false">
                    @if (UserManager.GetUserId(User) == Model.Id)
                    {
                        @Localizer["MyFanfics"]
                    }
                    else
                    {
                        @Localizer["Fanfics"]
                    }
                </a>
            </li>
        </ul>
        <br>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="profileData">
                <div class="col-xs-12" id="profileInfo">
                    @{
                        var changeble = UserManager.GetUserId(User) == Model.Id || User.IsInRole("admin") ? "changeble" : "";
                        <label class="control-label label-profile" id="first-label">@Localizer["FirstName"]</label>
                        <div>
                            <h5 id="FirstName" class="@changeble">
                                @if (Model.FirstName.ToString() == "NotIndicated")
                                {
                                    @Localizer[Model.FirstName]
                                }
                                else
                                {
                                    @Model.FirstName
                                }
                            </h5>
                        </div>
                        <hr class="hr-profile" />
                        <label class="control-label label-profile">@Localizer["SecondName"]</label>
                        <div>
                            <h5 id="SecondName" class="@changeble">
                                @if (Model.SecondName.ToString() == "NotIndicated")
                                {
                                    @Localizer[Model.SecondName]
                                }
                                else
                                {
                                    @Model.SecondName
                                }
                            </h5>
                        </div>
                        <hr class="hr-profile" />
                        <label class="control-label label-profile">@Localizer["Sex"]</label>
                        <div>
                            <h5 id="Sex" class="@changeble">@Localizer[Model.Sex]</h5>
                        </div>
                        <hr class="hr-profile" />
                        <label class="control-label label-profile">@Localizer["AboutMe"]</label>
                        <div>
                            <h5 id="AboutMe" class="@changeble">
                                @if (Model.AboutMe.ToString() == "NotIndicated")
                                {
                                    @Localizer[Model.AboutMe]
                                }
                                else
                                {
                                    @Model.AboutMe
                                }
                            </h5>
                        </div>
                        <hr class="hr-profile" />
                        <label class="control-label label-profile">@Localizer["Wallet Number"]</label>
                        <div>
                            <h5 id="WalletNumber" class="@changeble">
                                @if (Model.WalletNumber == "NotIndicated")
                                {
                                    @Localizer[Model.WalletNumber]
                                }
                                else
                                {
                                    @Model.WalletNumber
                                }
                            </h5>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="fanficsData">
                <div class="col-xs-6">
                    <select class="form-control min-border-input" id="categoryProfile">
                        <option>@Localizer["All"]</option>
                        <option>@Localizer["Anime"]</option>
                        <option>@Localizer["Books"]</option>
                        <option>@Localizer["Games"]</option>
                        <option>@Localizer["Comics"]</option>
                        <option>@Localizer["Films"]</option>
                        <option>@Localizer["Other"]</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control min-border-input" id="popOrNewProfile">
                        <option>@Localizer["New"]</option>
                        <option>@Localizer["Popular"]</option>
                    </select>
                </div>
                <div class="col-xs-12" id="resultDivProfile">
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_GetUserFanfics")
@if (UserManager.GetUserId(User) == Model.Id || User.IsInRole("admin"))
{
    @await Html.PartialAsync("_UploadPhoto")
    @await Html.PartialAsync("_ChangeProfile")
}